@media only screen and (max-width: 768px) {
    .main-container {
        max-width: 100%;
        max-height: 80%;
    }
    .container-01 {
        max-width: 95%;
        max-height: 100%;
        margin: 0 auto;
    }
    .name h1 {
        font-size: 15px;
    }
    .txt-1 {
        max-width: 100%;
        max-height: 50%;
        padding: 0 20px;
    }

    .txt-1 p {
        font-size: 13px;
        text-align: center;
    }

    .txt-2 {
        max-width: 100%;
        max-height: 50%;
    }
    .load-container {
        position: relative;
        top: 300px;
    }
    .end {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    .end h1 {
        font-size: 15px;
    }
}
